.header {
    position: relative;
    width: 100%;
    min-height: 25vh;
    height: auto;
    margin-bottom: 3.5rem;
    box-shadow: 0px 1rem 120px var(--color-light-gray-violet);
}

.container {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    color: var(--color-white);
}

.container__credictCard {
    position: absolute;
    width: clamp(100px, 75%, 450px);
    /* max-width: 450px; */
    /* width: 75%; */
    height: auto;
    background-color: transparent;
}

.container__credictCard__front {
    left: 5%;
    bottom: 0%;
    transform: translateY(25%);
    height: auto;
}

.container__front__elements {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    padding: 6% 8%;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}

.container__front__img {
    display: flex;
    justify-content: start;
    height: 40%;
    width: 25%;
    margin-bottom: 1rem;
    object-fit: scale-down;
}

.container__credictCard__number {
    display: flex;
    text-align: center;
    letter-spacing: 1px;
    font-size: 5.05vw;
}

.subContainer__date {
    display: flex;
    justify-content: end;
    align-items: center;
    width: 100%;
    height: 1rem;
    font-size: 4.05vw;
    text-align: center;
}

.container__name {
    display: flex;
    margin-right: auto;
    font-size: 4.1vw;
    /* font-size: 0.8rem; */
}

.subContainer__date>input {
    width: 10%;
}

.container__credictCard__back {
    right: 5%;
    top: 15%;
}

.container__input {
    position: absolute;
    top: 43.5%;
    right: 12%;
    width: 12%;
    font-size: 4.05vw;
}

.main {
    display: flex;
    justify-content: center;
    width: 100%;
}

.form {
    display: flex;
    flex-direction: column;
    width: clamp(60vw, 90%, 90vw);
    gap: 5px;
}

.form input {
    border: 1px solid var(--color-light-gray-violet);
    border-radius: var(--border-radius);
    width: 100%;
    height: 2rem;
    padding: var(--padding-top-bottom) var(--padding);
    border-color: var(--color-light-gray-violet);
}

.form input::placeholder {
    color: var(--color-light-gray-violet);
}

/* .form input:invalid {
    border: 1px solid red;
} */

.form input:focus-visible,
.form input:focus {
    border: 1px solid transparent;
    outline: none;
    background: linear-gradient(var(--color-white), var(--color-white)) padding-box, linear-gradient(90deg, var(--color-gradient-active-1), var(--color-gradient-active-2)) border-box;
}

.form__label {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: var(--padding);
    gap: 5px;
    color: var(--color-dark-violet);
}

.form__label__legend {
    display: flex;
    align-items: center;
    text-transform: uppercase;
    font-size: 0.7rem;
    font-weight: 700;
    letter-spacing: 2px;
}

.label {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 0.5fr 1fr;
}

.label__div {
    display: flex;
    flex-direction: column;
    padding: var(--padding);
    gap: 5px;
    width: 50%;
}

.label__div:first-child {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

.label__legend {
    grid-column: auto / span 2;
    grid-row: 1;
}

.label__input {
    grid-row: 2;
}

.label__input:last-child {
    grid-column: auto / span 2;
}

.form>button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem 1rem;
    font-size: 1.2rem;
    margin: 5px;
    width: calc(100% - 10px);
    border-radius: var(--border-radius);
    background-color: var(--color-dark-violet);
    color: var(--color-white);
}

.footer {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 1rem;
    font-size: 0.8rem;
}

.attribution {
    text-align: center;
    justify-content: center;
    width: 80%;
}

.attribution>a {
    color: indigo;
}

a:visited {
    color: var(--color-dark-violet);
}


/*
Desktop
1366x768 (22.98%)
1920x1080 (20.7%)
1536x864 (7.92%)
1440x900 (7.23%)
1280x720 (4.46%)


Tablets
601x962 (4.32%)
1280x800 (7.28%)
*/