body {
    display: grid;
    grid-template-columns: 30vw 70vw;
    grid-template-rows: 95vh 5vh;
}

.header {
    background-color: yellowgreen;

    position: relative;
    display: flex;
    align-items: center;
}

.container {
    background-color: blue;

    position: absolute;
    left: 40%;
    height: max(50%);
    width: max(30vw);

    display: flex;
    flex-flow: column nowrap;
    /* gap: 3rem; */
    /* padding: 1rem; */
}

.container__credictCard {
    background-color: blueviolet;

    position: relative;
    left: 50%;
    transform: translateX(-50%);
    /* height: clamp(120px, 30%, 35%); */
    width: clamp(250px, 100%, 20vw);
    height: fit-content;
}

.container__credictCard__front {
    background-color: brown;

    order: -1;

    transform: translateX(-60%);
}

.container__front__elements {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 3fr 1fr 0.5fr;

    position: absolute;
    bottom: 0%;

    margin: 1rem;

    width: calc(100% - 2rem);
    height: max(100% - 2rem);
}

.container__front__img {
    background-color: cornflowerblue;

    grid-column: 1 / 3;
    grid-row: 1 / 2;
    width: 50%;
}

.container__credictCard__number {
    background-color: chocolate;
    /* font-size: 1.2rem; */
    font-size: 1.5vw;
    /* font-size: clamp(1rem,); */

    grid-column: 1 / -1;
    grid-row: 2 / 3;
}

.subContainer__date {
    background-color: coral;

    grid-column: 1 / -1;
    grid-row: 3 / 4;
    display: flex;
    justify-content: end;
    font-size: 1vw;
}

.container__name {
    margin-right: auto;
}

.container__date {
    text-align: center;
    width: 15%;
}

.container__credictCard__back {
    background-color: cadetblue;

    top: 25%;
    /* left: 0%; */
    transform: translate(-40%, 20%);
}

.container__input {
    background-color: chartreuse;

    position: absolute;
    top: 42.5%;
}

.container .main {
    background-color: aquamarine;
}

.footer {
    grid-area: 2 / 1 / -1 / -1;
    background-color: indigo;
}