body {
    display: grid;
    grid-template-columns: 30vw 70vw;
    grid-template-rows: 95vh 5vh;
}

.header {
    position: relative;
    display: flex;
    align-items: center;
    background-image: url(../public/bg-main-desktop.png);
    background-size: cover;
}

.header__img {
    display: none;
}

.container {
    position: absolute;
    left: 40%;
    height: max(50%);
    width: max(30vw);
    display: flex;
    flex-flow: column nowrap;
}

.container__credictCard {
    position: absolute;
    top: 50%;
    left: 50%;
    width: clamp(250px, 100%, 20vw);
    height: fit-content;
    font-size: 1vw;
    font-family: var(--tipo-principal);
    color: var(--color-white);
}

.container__credictCard__front {
    order: -1;
    transform: translate(-60%, -110%);
}

.container__credictCard:before {
    content: "";
    position: absolute;
    top: 0%;
    right: 0%;
    width: 50%;
    height: 100%;
    border-radius: var(--padding);
    box-shadow: 25px 15px 40px 20px rgb(100 100 100 / 20%);
    z-index: -1;
}

.container__front__elements {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 3fr 1fr 0.5fr;
    position: absolute;
    bottom: 0%;
    margin: 1rem;
    width: calc(100% - 2rem);
    height: max(100% - 2rem);
}

.container__front__img {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
    width: 50%;
}

.container__credictCard__number {
    font-size: 1.5vw;
    grid-column: 1 / -1;
    grid-row: 2 / 3;
}

.subContainer__date {
    grid-column: 1 / -1;
    grid-row: 3 / 4;
    display: flex;
    justify-content: end;
    font-size: 1.2vw;
}

.container__name {
    margin-right: auto;
}

.container__date {
    text-align: center;
    width: 15%;
}

/* .container__date:nth-child(2) {} */

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    appearance: none;
}

.container__credictCard__back {
    transform: translate(-40%, 10%);
    background-size: cover;
    border-radius: var(--padding);
}

.container__input {
    position: absolute;
    top: 42.5%;
    right: 10%;
    width: 20%;
    text-align: end;
}

.main {
    background-color: aquamarine;
    /* grid-column: 2 / -1; */

    display: flex;
    justify-content: center;
    align-items: center;
}

.form {
    background-color: azure;

    display: flex;
    flex-flow: column nowrap;
    width: 50%;
    height: 50%;
    gap: 1rem;
    padding: var(--padding);
}

.form__label {
    background-color: bisque;

    display: flex;
    flex-direction: column;

    width: 100%;
    height: 25%;
    row-gap: 1rem;
    /* padding: var(--padding); */
}

/* .form__label:last-child {
    background-color: blueviolet;
    outline: 2px dashed green;
    
    height: 2rem;
} */

.form__label__legend:not(.label__legend) {
    background-color: blue;

    font-size: 1.2rem;
    /* height: clamp(25px, 30px, 45px); */
    /* height: clamp(,,70%); */
    height: minmax(50px, 70px);
    width: 100%;
}

.label {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: var(--padding);
    padding: var(--padding) 0;
}

.label__legend {
    background-color: blue;

    grid-row: 1;
    grid-column: auto / span 2;
}

.label__input {
    grid-row: 2;
}

.label>input:not(:last-child) {
    background-color: red;
    width: 50%;
}

.label>.label__input:not(:not(:last-child)) {
    background-color: cornflowerblue;
    /* grid-row: 1; */
    grid-column: auto / span 2;
}

button[type=submit] {
    background: linear-gradient(90deg, red, blue);
}

.footer {
    background-color: indigo;
    grid-area: 2 / 1 / -1 / -1;
}