.container__credictCard {
    top: 50%;
    left: 50%;
}

.container__credictCard__back {
    transform: translate(-40%, -70%);
}

.container__credictCard__front {
    transform: translate(-60%, -10%);
}